.vermas{
    margin-bottom: 10px;
    border-style:ridge;
    border-color: white;
    border-width: 1px;
    padding: 15px 35px;
}

body{
    padding: 15px;
    border-width: 2px;
    border-color: white;
    border-style: double;
}

#mattwtf{
    align-items: center;
    text-align: center;
}

img{
    max-width: 50%;
}